# Spunky Bot CODE OWNERS

# See https://help.github.com/articles/about-codeowners/ for more info about the CODEOWNERS file
# Each line is a file pattern followed by one or more owners.

* @alexanderkress
