# Python
*.py[co]
__pycache__

# build products
build
dist
spunkybot.egg-info
*.tar.gz
*.zip
*.asc
*.sig
*.deb
SHASUMS
MD5SUMS

# SVN
.svn/

# PyCharm
.idea
.iml

# OSX
.DS_Store

# Database
*.sqlite

# Backup files
*.*~

# Swap files
*.sw[po]

# Test files
test*.*

# Log files
*.log

# Vagrant
Vagrantfile
.vagrant/
