# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
debian-startscript text eol=lf
systemd-spunkybot.service text eol=lf
debian/* text eol=lf
debian/source/format eol=lf
setup.* text eol=lf
