# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info
*.tar.gz
*.zip
*.asc
*.sig
*.deb
SHASUMS
MD5SUMS

# C extensions
*.so

# Translations
*.mo
*.pot

# SVN
.svn/

# PyCharm
.idea
.iml

# OSX
.DS_Store

# Database
*.sqlite

# Backup files
*.*~

# Swap files
*.sw[po]

# Test files
test-*.*

# Log files
*.log

# Vagrant
Vagrantfile
.vagrant/
