# Installation:
# Move this file to /lib/systemd/system/spunkybot.service
# Modify 'User' and 'WorkingDirectory' to suit where you installed Spunky Bot
# Afterwards: sudo systemctl daemon-reload
#             sudo systemctl enable spunkybot.service
#             sudo systemctl start spunkybot.service

[Unit]
Description=Spunky Bot
After=network.target

[Service]
User=q3ut4
WorkingDirectory=/opt/spunkybot
ExecStart=/usr/bin/python spunky.py
StandardOutput=null
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
