Source: spunkybot
Section: utils
Priority: optional
Maintainer: Spunky Bot Release Manager <releases@spunkybot.de>
Uploaders: Alexander Kress <hello@alexanderkress.de>
Build-Depends: debhelper (>= 9), dh-python, python
X-Python-Version: >= 2.6
Standards-Version: 3.9.6
Homepage: https://www.spunkybot.de/
Vcs-Git: https://github.com/SpunkyBot/spunkybot.git
Vcs-Browser: https://github.com/SpunkyBot/spunkybot

Package: spunkybot
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python (>= 2.6.6-3~), adduser
Description: Multi-platform administration and RCON tool for Urban Terror
 Spunky Bot is the most advanced RCON tool for managing your game server.
 .
 It is a cross-platform package and offers in-game commands without
 authentication and automated administration.
 .
 Spunky Bot includes the following features:
   * Real time game statistics
   * Different user groups and levels
   * Supports all RCON commands
   * Supports temporary and permanent bans of players
   * Supports rotation messages
