name: CI

on: [push, pull_request]

jobs:

  lint:
    name: Check lint
    runs-on: ubuntu-latest
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Python 2.7
      uses: actions/setup-python@v2
      with:
        python-version: 2.7

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics --exclude=tests
        flake8 . --count --max-complexity=10 --max-line-length=127 --statistics --exclude=tests

    - name: Test spunky.py with Pylint
      run: |
        pip install pylint
        pylint spunky.py --disable=C0103,C0111,C0301,C0302,W0703,R0101,R0201,R0902,R0903,R0904,R0912,R0913,R0914,R0915,R0916

    # make sure that the README is formatted properly
    - name: Lint format in setup.py
      run: python setup.py check --restructuredtext --strict --metadata

    - name: Lint with RST reStructuredText
      run: rst-lint README.md CHANGELOG.md LICENSE doc/Commands.md .github/CONTRIBUTING.md .github/CODE_OF_CONDUCT.md .github/SUPPORT.md

  markdown-lint:
    name: Check Markdown
    runs-on: ubuntu-latest
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Checkout
      uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'

    - run: npm install -g markdown-link-check
    - run: markdown-link-check ./README.md
    - run: markdown-link-check ./CHANGELOG.md
    - run: markdown-link-check ./.github/CONTRIBUTING.md
    - run: markdown-link-check ./.github/SECURITY.md
    - run: markdown-link-check ./.github/CODE_OF_CONDUCT.md
    - run: markdown-link-check ./.github/SUPPORT.md
    # https://github.com/igorshubovych/markdownlint-cli
    - run: npm install -g markdownlint-cli
    - name: Run markdownlint '**/*.md'
      run: |
        touch .markdownlint.yaml && cat >> .markdownlint.yaml <<'EOF'
        MD013: false
        MD024: false
        MD026: false
        MD040: false
        MD041: false
        EOF
        markdownlint '**/*.md' --config .markdownlint.yaml

  pytest:
    name: Run pytest
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Python 2.7
      uses: actions/setup-python@v2
      with:
        python-version: 2.7

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest

    - name: Run pytest
      run: |
        pytest


  setup:
    name: Check setup
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Python 2.7
      uses: actions/setup-python@v2
      with:
        python-version: 2.7

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine check-manifest

    - name: Show versions
      run: |
        python --version
        pip --version
        twine --version
        wheel version

    - name: Build and check with twine
      run: |
        check-manifest
        python setup.py check --metadata --strict
        python setup.py build
        python setup.py test
        python setup.py sdist bdist_wheel
        twine check dist/*
