name: Close stale issues

on:
  schedule:
  - cron: "0 0 * * *"

jobs:
  stale:
    name: Check activity

    runs-on: ubuntu-latest

    steps:
    - uses: actions/stale@v4
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.'
        days-before-stale: 60
        days-before-close: 7
        stale-issue-label: 'wontfix'
        exempt-issue-labels: 'backlog,confirmed,enhancement,security'
        #stale-pr-message: 'Stale pull request message'
        #stale-pr-label: 'no-pr-activity'
        #exempt-pr-labels: 'awaiting-approval,work-in-progress'
